/**********************/
/* Panel tabs styling */
/**********************/

/* Panel tab buttons */
.g_book_popup-list_tab-button_wrapper:hover .g_book_popup-list_tab-button_line {
   opacity: 1;
}
.g_book_popup-list_tab-button_wrapper:hover .g_book_popup-list_tab-button_text {
   color: var(--swatch--black);
}
.g_book_popup-list_tab-button_wrapper:hover
   .g_book_popup-list_tab-button_arrow {
   opacity: 1;
}
.g_book_popup-list_tab-button_wrapper.is-open
   .g_book_popup-list_tab-button_line {
   opacity: 1;
}
.g_book_popup-list_tab-button_wrapper.is-open
   .g_book_popup-list_tab-button_text {
   color: var(--swatch--black);
}
.g_book_popup-list_tab-button_wrapper.is-open
   .g_book_popup-list_tab-button_arrow {
   opacity: 1;
}

/* Panel tabs styling */
.g_book_popup-open_wrapper:not(.is-open) * {
   pointer-events: none !important;
}

/*********************/
/* Form view styling */
/*********************/

.g_book_popup-open_wrapper.is-form .g_book_popup-list_panel_button.is-close {
   opacity: 0;
   pointer-events: none;
}
.g_book_popup-open_wrapper.is-form .g_book_popup-list_panel_button.is-return {
   opacity: 1;
   pointer-events: auto;
}
.g_book_popup-open_wrapper.is-form .g_book_popup-list_panel-content {
   opacity: 0;
   pointer-events: none;
}
.g_book_popup-open_wrapper.is-form .g_book_popup-list_panel-form {
   opacity: 1;
   pointer-events: auto;
}
.g_book_popup-open_wrapper.is-form .g_book_popup-list_tab_wrapper {
   opacity: 0 !important;
   pointer-events: none !important;
}
.g_book_popup-open_wrapper.is-form .g_book_popup-list_form-tab_wrapper {
   opacity: 1;
   pointer-events: auto;
}

/* Mobile */
@media screen and (max-width: 991px) {
   .g_book_popup-open_wrapper.is-form .g_book_popup-list_panel-content {
      position: absolute;
   }
   .g_book_popup-open_wrapper.is-form .g_book_popup-list_panel-form {
      position: relative;
   }
}
