/* Scroll styling */
.navigation[data-wf--global-navigation--variant="transparent"].is-scrolled {
   background-color: var(--swatch--white);
}

.navigation[data-wf--global-navigation--variant="transparent"].is-scrolled
   .navigation_brand-link {
   color: var(--swatch--black);
}

.navigation[data-wf--global-navigation--variant="transparent"].is-scrolled
   .navigation_nav_link {
   color: var(--swatch--black);
}

.navigation[data-wf--global-navigation--variant="transparent"].is-scrolled
   .navigation_nav_wrapper {
   background-color: var(--swatch--black-04);
}

@media screen and (min-width: 992px) {
   .navigation[data-wf--global-navigation--variant="transparent"].is-scrolled
      .button {
      color: var(--swatch--white);
      background-color: var(--swatch--black);
   }
}

.navigation.is-scrolled:not(.is-open) .navigation_mobile_button {
   background-color: transparent;
   -webkit-backdrop-filter: none;
   backdrop-filter: none;
   color: var(--swatch--black);
}

/* Link hover */
.navigation[data-wf--global-navigation--variant="transparent"]:not(.is-scrolled)
   .navigation_nav_link-hover {
   background-color: var(--swatch--black-80);
}

.navigation_nav_link:hover .navigation_nav_link-hover {
   opacity: 1;
   transform: scale(1);
}

/* Navigation mobile */
.navigation.is-open {
   --_themes---background: var(--swatch--black) !important;
   --_themes---text: var(--swatch--white) !important;
   background-color: transparent !important;
}

.navigation.is-open .navigation_brand-link {
   color: var(--_themes---text) !important;
}

.navigation.is-open .navigation_nav_wrapper {
   background-color: var(--swatch--black) !important;
}

.navigation.is-open .navigation_nav_link {
   color: var(--swatch--white) !important;
}

.navigation.is-open .navigation_mobile_button-icon.is-hamburger {
   opacity: 0;
}

.navigation.is-open .navigation_mobile_button-icon.is-close {
   opacity: 1;
}
