/* USP marquee */
@media screen and (max-width: 767px) {
   .opt-usp_marquee {
      animation: uspMarquee 30s infinite linear;
   }

   @keyframes uspMarquee {
      0% {
         transform: translateX(0%);
      }
      100% {
         transform: translateX(-100%);
      }
   }
}
