/* Slider styling */
.swiper-wrapper.is-product-main {
   transition-timing-function: cubic-bezier(0.625, 0.05, 0, 1);
}

.swiper-slide.is-product-thumbs.swiper-slide-thumb-active {
   border: 1px solid var(--swatch--black);
}

.swiper-slide.is-product-thumbs.swiper-slide-thumb-active
   .product_slide-thumbs_overlay {
   opacity: 0;
}

/* Service dropdown */
.product_service-dropdown_wrapper.is-open
   .product_service-dropdown_icon-line.is-rotated {
   transform: rotateZ(0deg);
}

.product_service-dropdown_wrapper.is-open .product_service-dropdown_height {
   opacity: 1;
   grid-template-rows: 1fr;
}

/* Price dropdown */
.product_contact_dropdown_wrapper.is-open .product_contact_dropdown_arrow {
   transform: rotateZ(0deg);
}

.product_contact_dropdown_wrapper.is-open .product_contact_dropdown_height {
   opacity: 1;
   grid-template-rows: 1fr;
}

/* Reusable dropdowns */
.product_dropdown_wrapper:not(.is-open)
   .product_dropdown_toggle:hover
   .product_dropdown_icon {
   transform: rotateZ(90deg);
}

.product_dropdown_wrapper.is-open .product_dropdown_icon {
   transform: rotateZ(315deg);
}

.product_dropdown_wrapper.is-open .product_dropdown_height {
   opacity: 1;
   grid-template-rows: 1fr;
}
